html {

    background-image: url(images/background.jpg);
    background-size: cover;

}

div {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}